@grey:                     #f7f7f7;
@grey--light:              #d4d3d3;
@active-color:             #f0731e;
@active-color--dark:       #e65023;
@text-color:               #282121;
@text-color--light:        #ffffff;
@bg-color:                 #f1771d;
@bg-color--promo:          #6d6857;


@font-family:              "Open Sans", Arial, sans-serif;
@font-size:                16px;
@font-size--h1:            38px;
@font-size--h2:            24px;

@font-weight:              400;
@font-weight--light:       300;
@font-weight--bold:        700;

@line-height:               22px;
@line-height--h1:           53px;
@line-height--h2:           33px;

@letter-spacing:            0.025;


@grid-columns:              12;
@grid-gutter-width:         20px;
@container-tablet:             (720px + @grid-gutter-width);
@container-sm:                 @container-tablet;
@container-desktop:            (940px + @grid-gutter-width);
@container-md:                 @container-desktop;
@container-large-desktop:      (1180px + @grid-gutter-width);
@container-lg:                 @container-large-desktop;