.about-us {
  position: relative;
  background-color: @active-color;
}

.statistics {
  .make-lg-column(4);
}

.statistics-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quotation {
  .make-lg-column(5);
}

.about-us__gallery {
  position: absolute;
  top: 0;
  right: 0;

  > img {
    display: block;
  }
}