.contacts-items-wrap {
  width: 29.25%;
  float: left;
  // padding-left: 10px;
  // padding-right: 10px;
  z-index: 200;
  background: #fff;
}

// .feedback {
//   width: 51.25%;
//   float: left;
//   padding-left: 10px;
//   padding-right: 10px;
//   position: absolute;
// }

.feedback-form {
  display: block;
  width: 86.9918%;
  margin: 0 auto;
}

.feedback-form__field label {
  white-space: pre;
}

.feedback-form__submit {
  background-color: @active-color;
  font-size: @font-size;
  color: @text-color--light;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  width: 100%;
}