//------------------------------------------------------------------------------
//  Базовые стили
//------------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  font-family: @font-family;
  font-size: @font-size--small;
  line-height: @line-height;
  color: @text-color;
  font-weight: @font-weight;

  @media (min-width: @screen-lg) {
    font-size: @font-size;
  }
}

a {
  color: @text-color;
  text-decoration: none;

  // &:hover,
  // &:focus {
  //   color: @link-color--hover;
  //   text-decoration: underline;
  // }
}

img {
  height: auto;
  vertical-align: middle;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  outline: none;
  color: inherit;
  margin: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

legend {
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

blockquote {
  margin: 0;
}

.block {
  overflow: hidden;
  min-height: 455px;


  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    height: 100vh;
    min-height: 475px;
    overflow: hidden;
  }

  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
  }

  @media (min-width: @screen-lg) {
    min-height: 700px;
    height: 100vh;
  }
}

.promo {
  background-color: @bg-color--promo;
}

.section-title {
  .h1();
  color: @active-color;
  margin-bottom: 8.6666%;
  text-align: left;

  &--white {
    color: @text-color--light;
  }

}

.section-descr {
  margin-bottom: 55px;

  @media (min-width: @screen-md) {
    margin-bottom: 95px;
  }
}
