.promo-content {
  padding-top: 180px;
}

.promo-info {
  z-index: 10;
  color: @text-color--light;
}

.promo-info {
  .make-lg-column(4);
}

.promo-info__title {
  .h1();
  margin-bottom: 20px;
}

.promo-info__descr {
  padding-right: 40px;
}