.promo {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
  }
}

.promo__video {
  z-index: 0;

  @media (max-width: @screen-sm) {
    display: none;
  }
}

.promo-content {
  padding-top: 190px;
}

.promo-info {
  z-index: 10;
  color: @text-color--light;
}

.promo-info {
  .make-lg-column(7);
}

.promo-info__title {
  .h1();
  margin-bottom: 20px;
}

.promo-info__descr {
  padding-right: 40px;
}